:root {
	/* Theme colors */
	--theme-brand: #2fbab2;
	--theme-light-accent: #79becc;
	--theme-dark-accent: #7d7562;
	--theme-dark-shades: #303746;
	--theme-light-shades: #f5eef4;
	--theme-info: #303746;
	--theme-success: #42b26e;
	--theme-warning: #c0a236;
	--theme-danger: #f44336;
	font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: 'Inter var', sans-serif;
	}
}

body {
	/* Toast settings */
	--toastBackground: var(--theme-light-accent);
	--toastColor: var(--theme-dark-shades);
	--toastBarHeight: 0;

	/* body styles */
	background-color: var(--theme-dark-shades);
	color: var(--theme-light-shades);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	accent-color: var(--theme-brand);
}

button {
	appearance: none;
	border: none;
	border-radius: 6px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	user-select: none;
	touch-action: manipulation;
	font-weight: bold;
}
